[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/jaeyoung/myvenv/bin/uwsgi -i srv/djangoTest/.config/uwsgi/myProject.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
